{extends file='../../../Common/View/base.html'}

{block name='css'}
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.gritter/css/jquery.gritter.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.nanoscroller/nanoscroller.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.easypiechart/jquery.easy-pie-chart.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.switch/bootstrap-switch.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.slider/css/slider.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/intro.js/introjs.css"/>
{/block}

{block name='stage'}{/block}

{block name='js'}
<script src="{$smarty.const.ADMIN_PATH}js/jquery.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.gritter/js/jquery.gritter.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/behaviour/general.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.ui/jquery-ui.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.sparkline/jquery.sparkline.min.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.nestable/jquery.nestable.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/bootstrap.switch/bootstrap-switch.min.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.select2/select2.min.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/skycons/skycons.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/bootstrap.slider/js/bootstrap-slider.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/intro.js/intro.js"></script>
<script>
    $(document).ready(function () {
        //initialize the javascript
        App.init();
        App.dashBoard();
        introJs().setOption('showBullets', false).start();
    });
</script>
<script src="{$smarty.const.ADMIN_PATH}js/behaviour/voice-commands.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.pie.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.resize.js"></script>
<script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.labels.js"></script>
{/block}