<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {* logo *}
    <link rel="shortcut icon" href="{$smarty.const.URL_PUBLIC_PATH}/favicon.ico">

    {* 加载忙，可以注释 *}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    {* bs核心样式 *}
    <link href="{$smarty.const.ADMIN_PATH}js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="{$smarty.const.ADMIN_PATH}fonts/font-awesome-4/css/font-awesome.min.css">{* bootstrap3 样式字体 *}

    {*
        HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        使用Javascript来使不支持HTML5的浏览器支持HTML标签
    *}
    <!--[if lt IE 9]>
    <script src="{$smarty.const.URL_PUBLIC_PATH}/js/html5shiv.js"></script>
    <![endif]-->

    <title>{block name='title'}Corax Admin{/block}</title>

    {block name='css'}
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.gritter/css/jquery.gritter.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.nanoscroller/nanoscroller.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.easypiechart/jquery.easy-pie-chart.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.switch/bootstrap-switch.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/jquery.select2/select2.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/bootstrap.slider/css/slider.css" />
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_PATH}js/intro.js/introjs.css" />
        <!-- Custom styles for this template -->
        <link href="{$smarty.const.ADMIN_PATH}css/style.css" rel="stylesheet" />
    {/block}


</head>
<body>

{* 顶部导航栏 *}
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {* 顶部导航栏标题 *}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>
            <a class="navbar-brand" href="#">
               {block name='nav_title'} Corax Admin {/block}
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="dropdown-submenu"><a href="#">Sub menu</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Large menu <b class="caret"></b></a>
                    <ul class="dropdown-menu col-menu-2">
                        <li class="col-sm-6 no-padding">
                            <ul>
                                <li class="dropdown-header"><i class="fa fa-group"></i>Users</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li  class="col-sm-6 no-padding">
                            <ul>
                                <li class="dropdown-header"><i class="fa fa-legal"></i>Sales</li>
                                <li><a href="#">New sale</a></li>
                                <li><a href="#">Register a product</a></li>
                                <li><a href="#">Register a client</a></li>
                                <li><a href="#">Month sales</a></li>
                                <li><a href="#">Delivered orders</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="{$smarty.const.ADMIN_PATH}images/avatar2.jpg" /><span>Jeff Hanneman</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right not-nav" >
                <li class="button dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-comments"></i></a>
                    <ul class="dropdown-menu messages">
                        <li>
                            <div class="nano nscroller">
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="{$smarty.const.ADMIN_PATH}images/avatar2.jpg" alt="avatar" /><span class="date pull-right">13 Sept.</span> <span class="name">Daniel</span> I'm following you, and I want your money!
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="{$smarty.const.ADMIN_PATH}images/avatar_50.jpg" alt="avatar" /><span class="date pull-right">20 Oct.</span><span class="name">Adam</span> is now following you
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="{$smarty.const.ADMIN_PATH}images/avatar4_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Michael</span> is now following you
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="{$smarty.const.ADMIN_PATH}images/avatar3_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span> is now following you
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="foot"><li><a href="#">View all messages </a></li></ul>
                        </li>
                    </ul>
                </li>
                <li class="button dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="bubble">2</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="nano nscroller">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-cloud-upload info"></i><b>Daniel</b> is now following you <span class="date">2 minutes ago.</span></a></li>
                                        <li><a href="#"><i class="fa fa-male success"></i> <b>Michael</b> is now following you <span class="date">15 minutes ago.</span></a></li>
                                        <li><a href="#"><i class="fa fa-bug warning"></i> <b>Mia</b> commented on post <span class="date">30 minutes ago.</span></a></li>
                                        <li><a href="#"><i class="fa fa-credit-card danger"></i> <b>Andrew</b> killed someone <span class="date">1 hour ago.</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="foot"><li><a href="#">View all activity </a></li></ul>
                        </li>
                    </ul>
                </li>
                <li class="button"><a href="javascript:;" class="speech-button"><i class="fa fa-microphone"></i></a></li>
            </ul>
        </div>
    </div>
</div>

{* 内容区 *}
<div id="cl-wrapper" class="fixed-menu">
    {block name='sidebar'}{/block}
    {block name='content'}{/block}
</div>


{block name='js'}
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.gritter/js/jquery.gritter.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/behaviour/general.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.ui/jquery-ui.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.nestable/jquery.nestable.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/bootstrap.switch/bootstrap-switch.min.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.select2/select2.min.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/skycons/skycons.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/bootstrap.slider/js/bootstrap-slider.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/intro.js/intro.js"></script>

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        $(document).ready(function(){
            //initialize the javascript
            App.init();
            App.dashBoard();

            introJs().setOption('showBullets', false).start();

        });
    </script>
    <script src="{$smarty.const.ADMIN_PATH}js/behaviour/voice-commands.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.pie.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.resize.js"></script>
    <script src="{$smarty.const.ADMIN_PATH}js/jquery.flot/jquery.flot.labels.js"></script>
{/block}

</body>
</html>
